{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-object-values-to-object-keys",
    "@babel/plugin-transform-named-capturing-groups-regex",
    "transform-es2017-object-entries"
  ]
}